@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.nav {
  width: 100%;
  padding: 20px;
  background-color: #3c6255;
  color: white;
  text-align: center;
}

.nav-heading {
  font-size: 1.7rem;
}

.buttons {
  display: flex;
  gap: 30px;
}

.btn {
  padding: 10px 30px;
  border: none;
  background-color: #3c6255;
  color: white;
  border-radius: 10px;
}

.btn:hover {
  background-color: #619e88;
  cursor: pointer;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question-and-answer {
  background-color: white;
  padding: 15px 50px;
}

.question-and-answer:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.question {
  font-size: 1.2rem;
  color: #a6bb8d;
}

.heading-questions {
  margin: 0 auto;
}
